<html>
  <head>
    <script src="angular.js"></script>
    <script src="primer05.js"></script>
  </head>
  <body ng-app="app">
    <h1>
      Blog entries
    </h1>
    <div ng-controller="blogEntriesCtrl">
      <form ng-submit="search()">
        <div>
          title:<input type="text" ng-model="searchEntry.title"/>
        </div>
        <div>
          <input type="button" value="search">
        </div>
      </form>
      <div>
        sort by:
        <select ng-model="sortOrder">
          <option value="title">title</option>
          <option value="-comments.length">comments</option>
        </select>
      </div>
      <br/>
      <div ng-repeat="blogEntry in blogEntries | orderBy:sortOrder">
        <div>
          {{ blogEntry.title }}
        </div>
        <div>
          {{ blogEntry.entry }}
        </div>
        <div ng-show="blogEntry.comments.length">
          komentari ({{blogEntry.comments.length}}):
          <div ng-repeat="comment in blogEntry.comments">
            <br/>
            <div>
              author:{{comment.signedBy}}
            </div>
            <div>
              {{comment.text}}
            </div>
          </div>
        </div>
        <hr/>
      </div>
    </div>
  </body>
</html>
